target/
.codex
*.rlib
tests
!tests/
tests/*
!tests/fixtures/
tests/fixtures/*
!tests/fixtures/json/
tests/fixtures/json/*
!tests/fixtures/json/test-alias.json
!tests/fixtures/json/test.json
!tests/fixtures/proto/
tests/fixtures/proto/*
!tests/fixtures/proto/reflect-test.proto
!tests/fixtures/proto/test.proto
!tests/fixtures/benchmark/
tests/fixtures/benchmark/*
!tests/fixtures/benchmark/test.fdl
!tests/fixtures/benchmark/test.fr
!tests/fixtures/benchmark/test.fbs
!tests/fixtures/benchmark/test-fb.json
c++
scripts/
